/* Header section */
.header {
  padding: 20%;
  background: url(/public/image/backgroundimage.jpg);
  background-size: cover;
  color: #ffffff;
  font-size: 250%;
  text-align: center;
  line-height: normal;
}

/* Style of my name */
.name,
.home {
  color: rgb(74, 74, 176);
}
