.portfolio {
  background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(50% - 20px);
  height: 500px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  background-size: cover;
  filter: blur(0.5px);
}

.card:hover {
  box-shadow: 0 20px 30px rgba(229, 57, 53, 0.5), 5px 5px 10px rgba(229, 57, 53, 0.5);
  cursor: pointer;
}

h3 {
  font-size: 22px;
  margin: 20px 0;
  color: red;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: white;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

.portfolio-title {
  font-size: 250%;
  text-align: center;
  padding: 1%;
  background-color: black;
  color: red;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  font-weight: bold;
  font-size: 3em;
}

.portfolio-text {
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 200%;
  font-weight: bold;
  text-align: start;
  opacity: 0;
  transition: opacity 0.4s;
  
}
.portfolio-text-body {
  position: absolute;
  top: 20%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.4s;
}

.card:hover .portfolio-text {
  opacity: 1;
}

.card:hover .portfolio-text-body {
  opacity: 1;
}
